In [1]:
import pandas as pd
import numpy as np

In [2]:
#Deleted the first 4 rows in csv file so these became column names
df = pd.read_csv('2-4-2.csv')
df.columns
df.fillna(0)

,City,Population,Violent crime,Murder,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,"1,861",0,0.0,0.0,0,0,0,12,2,10,0,0.0
1,Addison Town and Village,"2,577",3,0.0,0.0,0,0,3,24,3,20,1,0.0
2,Akron Village,"2,846",3,0.0,0.0,0,0,3,16,1,15,0,0.0
3,Albany,"97,956",791,8.0,0.0,30,227,526,"4,090",705,"3,243",142,0.0
4,Albion Village,"6,388",23,0.0,0.0,3,4,16,223,53,165,5,0.0
5,Alfred Village,"4,089",5,0.0,0.0,0,3,2,46,10,36,0,0.0
6,Allegany Village,"1,781",3,0.0,0.0,0,0,3,10,0,10,0,0.0
7,Amherst Town,"118,296",107,1.0,0.0,7,31,68,"2,118",204,"1,882",32,3.0
8,Amityville Village,"9,519",9,0.0,0.0,2,4,3,210,16,188,6,1.0
9,Amsterdam,"18,182",30,0.0,0.0,0,12,18,405,99,291,15,0.0
10,Arcade Village,"2,053",0,0.0,0.0,0,0,0,39,3,35,1,0.0
11,Ardsley Village,"4,523",5,0.0,0.0,0,3,2,33,4,28,1,0.0
12,Asharoken Village,658,0,0.0,0.0,0,0,0,2,0,2,0,0.0
13,Attica Village,"2,522",2,0.0,0.0,0,0,2,5,0,4,1,0.0
14,Auburn,"27,270",96,1.0,0.0,20,22,53,859,132,721,6,0.0
15,Avon Village,"3,333",1,0.0,0.0,0,1,0,25,3,20,2,0.0
16,Baldwinsville Village,"7,473",5,0.0,0.0,0,1,4,88,10,77,1,0.0
17,Ballston Spa Village,"5,418",8,0.0,0.0,0,3,5,94,16,78,0,1.0
18,Batavia,"15,374",57,0.0,0.0,7,13,37,559,103,454,2,0.0
19,Bath Village,"5,733",15,0.0,0.0,1,3,11,191,32,157,2,2.0
20,Bedford Town,"17,627",5,0.0,0.0,0,1,4,156,26,127,3,0.0
21,Bethlehem Town,"34,243",13,0.0,0.0,0,3,10,442,50,388,4,0.0
22,Binghamton,"46,304",284,3.0,0.0,19,101,161,"2,349",525,"1,767",57,0.0
23,Black River,"1,410",0,0.0,0.0,0,0,0,14,2,12,0,0.0
24,Blooming Grove Town,"12,001",8,0.0,0.0,1,0,7,99,20,72,7,0.0
25,Bolivar Village,"1,022",1,0.0,0.0,0,0,1,4,2,2,0,0.0
26,Bolton Town,"2,325",2,0.0,0.0,0,0,2,24,4,20,0,0.0
27,Boonville Village,"2,054",1,0.0,0.0,0,0,1,20,6,14,0,0.0
28,Brant Town,"2,065",4,0.0,0.0,0,1,3,31,9,20,2,0.0
29,Brewster,"2,358",0,0.0,0.0,0,0,0,13,3,10,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,Utica,"61,686",361,7.0,0.0,27,102,225,"2,528",449,"1,997",82,0.0
322,Vestal Town,"27,980",16,0.0,0.0,2,6,8,571,39,523,9,0.0
323,Walden Village,"6,887",18,1.0,0.0,2,1,14,142,13,124,5,0.0
324,Wallkill Town,"27,940",40,0.0,0.0,3,16,21,767,91,650,26,1.0
325,Walton Village,"3,012",6,0.0,0.0,1,0,5,68,18,50,0,0.0
326,Warsaw Village,"3,453",6,0.0,0.0,1,0,5,78,5,73,0,0.0
327,Washingtonville Village,"5,828",2,0.0,0.0,0,1,1,58,5,51,2,0.0
328,Waterford Town and Village,"8,392",4,0.0,0.0,0,0,4,59,6,52,1,0.0
329,Waterloo Village,"5,175",11,0.0,0.0,0,3,8,194,23,169,2,0.0
330,Watertown,"28,179",109,0.0,0.0,12,16,81,"1,165",169,953,43,0.0
331,Watervliet,"10,245",26,1.0,0.0,3,11,11,242,58,163,21,0.0
332,Watkins Glen Village,"1,862",6,0.0,0.0,0,0,6,92,10,80,2,0.0
333,Waverly Village,"4,337",5,0.0,0.0,0,1,4,54,9,41,4,0.0
334,Webster Town and Village,"43,777",21,0.0,0.0,2,3,16,469,101,361,7,0.0
335,Weedsport Village,"1,797",0,0.0,0.0,0,0,0,25,5,20,0,0.0
336,Wellsville Village,"4,574",11,0.0,0.0,1,0,10,164,32,129,3,1.0
337,Westhampton Beach Village,"1,732",2,0.0,0.0,0,0,2,44,4,37,3,0.0
338,West Seneca Town,"44,821",35,1.0,0.0,1,9,24,896,166,710,20,0.0
339,Whitehall Village,"2,604",6,0.0,0.0,0,0,6,62,12,49,1,0.0
340,White Plains,"57,559",78,1.0,0.0,3,28,46,"1,232",77,"1,134",21,0.0
341,Whitesboro Village,"3,733",4,0.0,0.0,0,0,4,36,14,21,1,0.0
342,Whitestown Town,"9,141",0,0.0,0.0,0,0,0,77,13,61,3,0.0
343,Woodbury Town,"10,685",3,0.0,0.0,0,2,1,541,9,529,3,0.0
344,Woodridge Village,829,7,0.0,0.0,0,0,7,17,8,9,0,0.0
345,Woodstock Town,"5,931",2,0.0,0.0,0,0,2,58,13,45,0,0.0
346,Yonkers,"199,134","1,036",6.0,0.0,25,390,615,"2,368",470,"1,662",236,10.0
347,Yorktown Town,"36,643",15,0.0,0.0,0,2,13,334,45,287,2,0.0
348,1 The figures shown in this column for the off...,0,0,0.0,0.0,0,0,0,0,0,0,0,0.0
349,2 The figures shown in this column for the off...,0,0,0.0,0.0,0,0,0,0,0,0,0,0.0
350,3 The FBI does not publish arson data unless i...,0,0,0.0,0.0,0,0,0,0,0,0,0,0.0

In [3]:
print(df['Murder'])

0      0.0
1      0.0
2      0.0
3      8.0
4      0.0
5      0.0
6      0.0
7      1.0
8      0.0
9      0.0
10     0.0
11     0.0
12     0.0
13     0.0
14     1.0
15     0.0
16     0.0
17     0.0
18     0.0
19     0.0
20     0.0
21     0.0
22     3.0
23     0.0
24     0.0
25     0.0
26     0.0
27     0.0
28     0.0
29     0.0
      ...
321    7.0
322    0.0
323    1.0
324    0.0
325    0.0
326    0.0
327    0.0
328    0.0
329    0.0
330    0.0
331    1.0
332    0.0
333    0.0
334    0.0
335    0.0
336    0.0
337    0.0
338    1.0
339    0.0
340    1.0
341    0.0
342    0.0
343    0.0
344    0.0
345    0.0
346    6.0
347    0.0
348    NaN
349    NaN
350    NaN
Name: Murder, Length: 351, dtype: float64

In [4]:
print(df['Robbery'])

0        0
1        0
2        0
3      227
4        4
5        3
6        0
7       31
8        4
9       12
10       0
11       3
12       0
13       0
14      22
15       1
16       1
17       3
18      13
19       3
20       1
21       3
22     101
23       0
24       0
25       0
26       0
27       0
28       1
29       0
      ...
321    102
322      6
323      1
324     16
325      0
326      0
327      1
328      0
329      3
330     16
331     11
332      0
333      1
334      3
335      0
336      0
337      0
338      9
339      0
340     28
341      0
342      0
343      2
344      0
345      0
346    390
347      2
348    NaN
349    NaN
350    NaN
Name: Robbery, Length: 351, dtype: object

In [5]:
df['Robbery'] = df['Robbery'].replace('0', 0, inplace = True)
df['Robbery'].replace(df['Robbery'] != '0', 1, inplace=True)

df['Robbery'] = (df['Robbery'] > 0).astype(int)
df['Murder'] = (df['Murder'] > 0).astype(int)

In [6]:
df['Murder'] = df['Murder'].replace('0.0', 0, inplace = True)
df['Murder'].replace(df['Murder'] != '0.0', 1, inplace=True)

In [7]:
df.head()

,City,Population,Violent crime,Murder,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,"1,861",0,None,NaN,0,None,0,12,2,10,0,0.0
1,Addison Town and Village,"2,577",3,None,NaN,0,None,3,24,3,20,1,0.0
2,Akron Village,"2,846",3,None,NaN,0,None,3,16,1,15,0,0.0
3,Albany,"97,956",791,None,NaN,30,None,526,"4,090",705,"3,243",142,NaN
4,Albion Village,"6,388",23,None,NaN,3,None,16,223,53,165,5,NaN